h2 {
  font-size: 24px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 30px;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
}
.header__nav ul li {
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
}
.header__nav ul li a {
  color: #000;
}

.eyecatch {
display: flex;
}
.eyecatch__content {
  
}
